ion-button {
    text-transform: none;
}

.store-name-btn {
    font-weight: bold;
    ion-icon {
        margin-top: -10px;
    }
}

a {
    color: var(--ion-color-dark) !important;
    font-size: 14px;
    text-decoration: none;
}
.gray {
    color: var(--ion-color-medium) !important;
}