<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="light" size="small" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="header">
  <div>Welcome to</div>
  <ion-img src="assets/imgs/logo.png"></ion-img>
</div>
<ion-content class="ion-padding">
  <div class="ion-padding-bottom">Please enter the OTP sent to</div>
  <div class="ion-padding-bottom">
    <strong>
      {{userinfo?.prefix}}-{{userinfo?.phone}}
    </strong>
    <ion-button (click)="changePhone()" color="primary" expand="inline" fill="clear" shape="round">
      Change
    </ion-button>
  </div>
  <div class="ion-padding-bottom inputs-div">
    <ion-input class="custom-input" [(ngModel)]="code[0]" type="tel" placeholder="-" required (ionInput)="nInput($event, 1)" (keyup)="bInput($event, 1)" dir="ltr" id="n1" #n1 clear-on-edit="true" autofocus="true" minlength="1"></ion-input>
    <ion-input class="custom-input" [(ngModel)]="code[1]" type="tel" placeholder="-" required (ionInput)="nInput($event, 2)" (keyup)="bInput($event, 2)" dir="ltr" id="n2" #n2 clear-on-edit="true" autofocus="true" minlength="1"></ion-input>
    <ion-input class="custom-input" [(ngModel)]="code[2]" type="tel" placeholder="-" required (ionInput)="nInput($event, 3)" (keyup)="bInput($event, 3)" dir="ltr" id="n3" #n3 clear-on-edit="true" autofocus="true" minlength="1"></ion-input>
    <ion-input class="custom-input" [(ngModel)]="code[3]" type="tel" placeholder="-" required (ionInput)="nInput($event, 4)" (keyup)="bInput($event, 4)" dir="ltr" id="n4" #n4 clear-on-edit="true" autofocus="true" minlength="1"></ion-input>
    <ion-input class="custom-input" [(ngModel)]="code[4]" type="tel" placeholder="-" required (ionInput)="nInput($event, 5)" (keyup)="bInput($event, 5)" dir="ltr" id="n5" #n5 clear-on-edit="true" autofocus="true" minlength="1"></ion-input>
  </div>
  <div class="ion-padding-bottom h4">
    You will receive the code in {{countDown}} seconds... if not click
    <ion-button (click)="resendOtp()" class="resend-btn" expand="inline" fill="clear" shape="round">
      Resend
    </ion-button>
  </div>
  <div class="spacer" style="height: 30px;"></div>
</ion-content>
