<div slot="fixed" class="header ion-padding ion-text-center">
  <div class="spacer" style="height: 2vh;"></div>
  <div>Hi</div>
  <div class="spacer" style="height: 10px;"></div>
  <div class="h3"><strong>James Harper</strong></div>
  <div class="spacer" style="height: 30px;"></div>
  <div>Welcome back to</div>
  <div class="spacer" style="height: 20px;"></div>
  <ion-img src="assets/imgs/logo-white.png" style="height: 78px;"></ion-img>
  <div class="spacer" style="height: 2vh;"></div>
</div>
<ion-content class="ion-padding">
  <div class="top-div ion-padding-top ion-padding-bottom">
    <span class="h3">
      Select Your Address
    </span>
    <ion-button (click)="addAddress()" slot="end" fill="outline" size="small" class="add-address-btn">
      <ion-icon slot="start" name="add"></ion-icon>
      Add new
    </ion-button>
  </div>
  <ion-list lines="none" class="address-list">
    <app-address-item *ngFor="let item of items" [item]="item" [selected]="selectedAddress" (clicked)="selectAddress($event)" (editClicked)="editAddress($event);"></app-address-item>
  </ion-list>
</ion-content>
<div slot="fixed" class="footer ion-padding">
  <ion-button (click)="checkout()" class="custom-button" expand="block">
    Checkout
  </ion-button>
</div>
