.header {
  background-color: var(--ion-color-primary);
}

ion-content {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.footer {
  background-color: var(--ion-color-light);
}

.top-div {
  display: flex;
  justify-content: space-between;
}

.add-address-btn {
  --border-color: var(--default-page-color);
}
