ion-item.selected {
  --background: #c9e0ff;
}
ion-item {
  border-radius: 20px;
  border: 1px solid var(--ion-color-primary);
  --padding-start: none;
  margin-bottom: 15px;
  --ripple-color: var(--ion-color-secondary);
  ion-thumbnail {
    padding: 10px;
    margin-inline: 5px;
  }
  ion-label {
    div {
      white-space: normal;
    }
  }
  .edit-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}
