<ion-segment class="cats-segment" value="all" scrollable="true" (ionChange)="catChanged($event)">
  <ion-segment-button value="all">
    <ion-label>All</ion-label>
  </ion-segment-button>
  <ion-segment-button value="toys">
    <ion-label>Toys</ion-label>
  </ion-segment-button>
  <ion-segment-button value="babydress">
    <ion-label>Baby Dress</ion-label>
  </ion-segment-button>
  <ion-segment-button value="shawl">
    <ion-label>Shawl</ion-label>
  </ion-segment-button>
  <ion-segment-button value="boys">
    <ion-label>Boys</ion-label>
  </ion-segment-button>
</ion-segment>