<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="start">
      <ion-img class="store-logo" src="assets/temp/logo.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end" class="social-btns">
      <ion-button (click)="changeLang(1)" class="ar-text lang-btn">
        عربي
      </ion-button>
      <ion-button (click)="openInstagram()">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button (click)="openWhatsApp()">
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>