::ng-deep {
  .product-page-swiper {
    border-radius: 20px;
    overflow: hidden;
  }
  .swiper-pagination {
    text-align: left !important;
    left: 10px !important;
  }
  .swiper-slide {
    img {
      width: 100% !important;
      height: 300px !important;
    }
  }
}

.title-div {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  .title {
    white-space: normal;
  }
  .price {
    max-width: -webkit-fill-available;
    min-width: fit-content;
    text-align: end;
  }
}

.size-input {
  ion-segment-button {
    border-radius: 15px;
    background-color: var(--default-page-color);
    color: var(--ion-color-dark);
    font-size: 14px;
    text-transform: none;
    --indicator-height: 0;
    margin-inline-end: 8px;
  }
  ion-segment-button:last-child {
    margin-inline-end: 0;
  }
  ion-segment-button.segment-button-checked {
    border-radius: 15px;
    background-color: #c9e0ff;
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
  }
}

.color-input {
  ion-segment-button {
    border-radius: 15px;
    background-color: var(--default-page-color);
    color: var(--ion-color-dark);
    font-size: 14px;
    text-transform: none;
    --indicator-height: 0;
    margin-inline-end: 8px;
    max-width: fit-content;
  }
  ion-segment-button:last-child {
    margin-inline-end: 0;
  }
  ion-segment-button.segment-button-checked {
    border-radius: 15px;
    background-color: var(--ion-color-light);
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
  }
}

.price-input::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
  transform: scale(1.01);
  top: -20px;
  left: -15px;
  min-width: 65px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

.btns {
    display: flex;
    justify-content: space-between;
    ion-button {
        font-size: medium;
        height: 56px;
        --border-radius: 10px;
        --padding-start: 35px;
        --padding-end: 35px;
    }
}